Package: dcat-suite
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Depends: java-runtime-headless
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: DCAT suite command line interfaces
Distribution: ldstack-nightly
Homepage: http://aksw.org/Projects/dcat-suite
Vcs-Git: git://github.com/SmartDataAnalytics/dcat-suite.git
Vcs-Browser: https://github.com/SmartDataAnalytics/dcat-suite
