Package: ckan-deploy
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Depends: java-runtime-headless
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: CKAN Deploy Command Line Interfaces
Distribution: ldstack-nightly
Homepage: http://aksw.org/Projects/ckan-deploy
Vcs-Git: git://github.com/SmartDataAnalytics/ckan-deploy.git
Vcs-Browser: https://github.com/SmartDataAnalytics/ckan-deploy
